<h1 class="d-flex align-items-center justify-content-center">Comment on a post</h1>

<h1 class="d-flex align-items-center justify-content-center">All User Posts</h1>

<% @comment.each do |comment| %>
    <div class="mb-4 card card-body" >
        <h4>
            <%=post.user.email%>
        </h4>
        <h4>
            <%=post.title%>
        </h4>
        <h5>
            <%=post.post_field%>
        </h5>
       
    </div>

<%end%>


</div>